/* .piano {
  margin: auto;
  width: 500px;
}

ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}

ul li {  
  margin: 0;
  padding: 0;
  position: relative;
  float: left;   
} */

/* .white {
  width: 50px;
  height: 200px;
  background: white;
  border: solid 1px grey;
  border-radius: 5px;
  transform: translateY(0px);
  box-shadow: 2px 5px 0px 0px rgb(40,40,40);
  transition: all 0.2s;
}

.white:active {
  box-shadow: 2px 1px 1px 0px;
  transform: translateY(3px);
}

.black {
  width: 30px;
  height: 100px;
  background: black;
  margin-left: -15px;
  z-index: 100;  
  border-radius: 5px;
  transform: translateY(0px);
  box-shadow: 2px 5px 0px 0px rgb(70,70,70);
  transition: all 0.2s;
}

.black:active {
  box-shadow: 2px 1px 1px 0px;
  transform: translateY(2px);
}

.black + .white {
  margin-left: -15px;
} */